.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}
.nxt-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  background: #212ea0;
  transform: translateY(-50%);
  cursor: pointer;
}
.back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}
.slider ul {
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: 0.5s;
}

.slider ul li 