.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.about-left {
  flex-basis: 40%;
  position: relative;
}

.about-right {
  flex-basis: 56%;
}

.about-img {
  width: 100%;
  border-radius: 10px;
}

.play_icon {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about h3 {
  font-weight: 600;
  font-size: 16px;
  color: #212ea0;
}

.about h22 {
  font-size: 35px;
  color: #000f38;
  margin: 10px 0;
  max-width: 400px;
}

.about p {
  color: #676767;
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-left,
  .about-right {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .about {
    margin: 50px 20px;
  }

  .about-left {
    flex-basis: 80%;
  }

  .about-right {
    flex-basis: 80%;
  }

  .about h22 {
    font-size: 28px;
    text-align: center;
  }

  .about p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about-left {
    flex-basis: 100%;
    text-align: center;
  }

  .about-right {
    flex-basis: 100%;
    text-align: center;
  }

  .about h22 {
    font-size: 24px;
  }

  .about p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
