.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.about_left {
  flex-basis: 40%;
}
.about-right {
  flex-basis: 56%;
}
.about-img{
    width: 100%;
    border-radius: 10px;
}
.play_icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50);
}