.campus {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.gallery {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensures that the images can wrap on smaller screens */
}

.gallery img {
  width: 23%;
  border-radius: 10px;
  margin-bottom: 20px; /* Add some space below the images */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .gallery img {
    width: 48%; /* Two images per row */
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .gallery img {
    width: 48%; /* Two images per row */
  }
}

@media (max-width: 480px) {
  .gallery {
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center the images */
  }

  .gallery img {
    width: 80%; /* Images take full width of the container */
    margin-bottom: 20px;
  }
}
