/* Programs Section */
.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

/* Program Cards */
.program {
  flex-basis: 31%;
  position: relative;
  margin-bottom: 20px; /* Adds space between the cards */
}

/* Images inside program */
.program img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

/* Caption styling */
.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}

/* On hover, show caption */
.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}

/* Responsive for mobile devices */
@media (max-width: 768px) {
  .programs {
    flex-direction: column;
    align-items: center;
  }

  .program {
    flex-basis: 90%; /* Takes up most of the width on small screens */
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .caption img {
    width: 50px; /* Make icon smaller on smaller screens */
  }
}
